<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>Travel Planner App</title>
	</head>
	<body>

		<header>

			<!-- Welcome -->
			<hgroup>
				<h1 class="beautify">Welcome to Travel Planner</h1>
			</hgroup>

			<!-- App Logo -->
			<figure>
				<img src="../media/logo.png" alt="App Logo">
			</figure>

		</header>

		<main>

			<!-- Obtaining User Trip Destination and Date -->
			<section class="trip__view__search">

				<h3 class="beautify">Make a plan for a trip</h3>

				<form>
					<label for="location">Trip To:</label>
					<input type="text" id="location" name="location" maxlength="22" placeholder="Enter location" required>
					<label for="arrivalDate">Arrival:</label>
					<input name="arrivalDate" id="arrivalDate" type="date" required>
					<label for="departureDate">Departure:</label>
					<input name="departureDate" id="departureDate" type="date" required>
					<input name="submit" type="submit" id="submit" value="Add Trip">
				</form>

			</section>

			<!-- User's Trips Overview -->
			<section class="trip__view__existing">

				<h3 class="beautify">My Trips</h3>

				<!-- Current Trip Information -->
				<article class="trip__saved">
					<p>You have not saved any trips so far...</p>
				</article>

			</section>

			<section class="trip__view__new">

				<h3 class="beautify">Search Info</h3>

				<!-- Desired Trip Information -->
				<article class="trip__content hidden">

					<figure class="trip__destination__pic1">
						<img id="trip__photo1" alt="Destination picture1">
					</figure>
					<figure class="trip__destination__pic2">
						<img id="trip__photo2" alt="Destination picture2">
					</figure>
					<div class="trip__main__content">
						<!-- Elements are added dynamically -->
					</div>
					<div class="trip__extra__content">
						<!-- Elements are added dynamically -->
					</div>
					<div class="trip__function1">
						<button id="saveB" type="button">Save</button>
					</div>

				</article>

			</section>

		</main>

		<footer>

			<hgroup id="footer__item__1">
				<h1 class="beautify">Follow us!</h1>
			</hgroup>

			<!-- Owner photo -->
			<figure id="footer__item__2">
				<img src="../media/owner.jpg" alt="App Owner">
				<h3 class="quote">"Our travel planner helps you figure out the details, organize your trip efficiently and enjoy it!" - Urunov Ulugbek</h3>
			</figure>

			<!-- Contact Details -->
			<ul id="footer__item__3">
				<li>
					<a href="mailto:ulugbekurunov1997@mail.ru" class="social-media">Email</a>
				</li>
				<li>
					<a href="https://www.facebook.com/uurunov" class="social-media">Facebook</a>
				</li>
				<li>
					<a href="https://twitter.com/UlugbekUrinov" class="social-media">Twitter</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/uurunov/" class="social-media">LinkedIn</a>
				</li>
			</ul>

		</footer>

	</body>
</html>