/* Selections by ID */

#footer__item__1 {
	grid-area: footer__item__1;
	justify-self: center;
	margin: 0;
	align-self: center;
}

#footer__item__2 {
	grid-area: footer__item__2;
	justify-self: center;
}

#footer__item__3 {
	grid-area: footer__item__3;
}

/* Selections by Class */

.trip__saved {	// container of trips
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.trip__saved_flex {	// each saved trip
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 10px;
}

.trip__content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas:
	"trip__destination__pic1 trip__main__content"
	"trip__destination__pic2 trip__extra__content"
	"trip__function1 trip__function1";
}

.trip__destination__pic1 {
	grid-area: trip__destination__pic1;
	margin:0;
}

.trip__destination__pic2 {
	grid-area: trip__destination__pic2;
	margin:0;
}

.trip__main__content {
	grid-area: trip__main__content;
}

.trip__extra__content {
	grid-area: trip__extra__content;
}

.trip__function1 {
	grid-area: trip__function1;
	justify-self: end;
}

.trip__view__search {
	grid-area: trip__view__search;
}

.trip__view__existing {
	grid-area: trip__view__existing;
}

.trip__view__new {
	grid-area: trip__view__new;
}

.trip__saved__figure {
	grid-area: trip__saved__figure;
	margin:0;
}

.trip__saved__main {
	grid-area: trip__saved__main;
}

.trip__saved__extra {
	grid-area: trip__saved__extra;
}

.trip__view__search, .trip__view__new {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.trip__view__existing {
	display: flex;
	flex-direction: column;
}

.flex-dir-col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* Selections by Element */

footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(10px, auto);
	grid-template-areas:
	"footer__item__1 footer__item__2 footer__item__3";
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas:
	"trip__view__search trip__view__search"
	"trip__view__existing trip__view__new";
	grid-gap: 10px;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}

form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}